<div class="card shadow mb-5">
    <div class="card-body">
        <h2 class="card-title">{{ job.title }}</h2>
        <p class="card-subtitle text-muted">{{ job.company }}</p>
        <div class="badge bg-info mb-3">
            {{ job.startedDate.getMonth() + 1 }}/{{ job.startedDate.getFullYear() }}
            <span *ngIf="!job.isCurrent"> - {{ job.endDate.getMonth() + 1 }}/{{ job.endDate.getFullYear() }}</span>
        </div>
        <div>
            <ul class="list-group shadow-sm">
                <li class="list-group-item" 
                    *ngFor="let accomplishment of job.accomplishments">
                    {{ accomplishment }}
                </li>
            </ul>
        </div>
    </div>
</div>