<app-content-wrapper>
    <app-title [title]="pageTitle"></app-title>
    <div>
        <div class="mb-5" *ngFor="let entry of logEntries">
            <h3 class="mb-3">
                <div *ngIf="entry.releaseDate === null">{{ entry.version }} - <i class="bi bi-calendar-minus"></i> TBD</div>
                <div *ngIf="entry.releaseDate !== null">
                    {{ entry.version }} - <i class="bi bi-calendar-check"></i> Released {{ entry.releaseDate.toLocaleDateString() }}
                </div>
            </h3>
            <div class="mb-2" *ngFor="let entryType of entry.content">
                <h4 *ngIf="entryType.type == 0">Added</h4>
                <h4 *ngIf="entryType.type == 1">Changed</h4>
                <h4 *ngIf="entryType.type == 2">Fixed</h4>
                <h4 *ngIf="entryType.type == 3">Removed</h4>
                <markdown [data]="entryType.content"></markdown>
            </div>
            <hr class="mt-4 border border-secondary border-2"/>
        </div>
    </div>
</app-content-wrapper>