@use 'src/partials/variables' as v
    
footer 
    height: v.$footer-height
    width: 100%
    display: block
    position: static
    margin-top: 4rem

footer.home-footer
    position: absolute !important
    bottom: 0

@media (max-width: 768px) 
    footer.home-footer
        position: static !important
